.bg-img {
    background: url(../../assets/img/bg1jpg.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
    transition: all 7s ease-out;
    z-index: -1;
    box-shadow: inset 0px -39px 28px -19px rgba(0,0,0,0.2);
}