html {
  scroll-behavior: smooth;
}

.logo {
  width: 40%;
}

.nav-theme {
  background-color: #fff;
  font-size: 20px;
  /* opacity: 85%; */
}

.navbar-brand {
    width: 10em;
}

.navbar-dark .navbar-nav .nav-link  {
    color: white;
    
    
}


.navbar-toggler {
    background-color: rgb(165, 165, 165);
    
    
}



.animate-navbar {
  
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}