@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oxygen&family=Roboto:wght@100&family=Source+Serif+Pro:wght@400;600&display=swap');


.about {
  background-color: transparent;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 7em;
}
.about-small{
    font-style: italic;
    color: rgb(6, 128, 128);
}

.about-heading {
  margin: 1.3em;
}

.profile {
  max-width: 24em;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}

.my-details{
    font-family: 'Oxygen', sans-serif;
    margin-top: 1.1em;
}

.svg-inline--fa:hover {
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
  transform: translateY(-5%);
}

.img-thumbnail {
  border: none;
  padding: 0px;
  /* border-radius: 50%; */
  
}