@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Open+Sans:wght@400;700&family=Oxygen&family=Roboto:wght@100&family=Source+Serif+Pro:wght@400;600&display=swap');


.contact {
    /* background-color: rgb(247, 245, 238); */
    background-color: rgb(59, 57, 55);
}

.contact-heading {
    margin: 1.2em 0 .7em;
    color: rgba(255, 255, 255, 0.842);
    opacity: 1;
    font-size: 3.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transform: translateY(35%);
    
}

.email-icon{
    width: 38px;
    font-size: 1.6em;
}

.contact-message {
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    opacity: 1;
    
}

.email-link {
    color: #fff;
}